# MongoDB connection string (local or Atlas)
MONGODB_URI=mongodb://127.0.0.1:27017/agency-travel
PAYLOAD_SECRET=agency-travel-super-secret-key-change-me

# URL where the CMS will run
NEXT_PUBLIC_SERVER_URL=http://localhost:3001
